/* Basic styling for header */
header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Styling for navigation */
nav {
  margin-left: auto; /* Ensures the nav is pushed to the left */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  transition: transform 0.3s ease;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  color: grey;
  text-decoration: none;
}

/* Toggle button */
.toggle-button {
  margin-right: 20px;
}

/* Toggle button switch style */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(247, 242, 242);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "☀️"; /* Sun icon */
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: lightyellow;
  transition: 0.4s;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
}

.slider:after {
  position: absolute;
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;
  background-color: #4b6cb7;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
  opacity: 0;
  transition: 0.4s;
}

/* When checked, move the slider to the right */
input:checked + .slider:before {
  transform: translateX(26px);
  content: "🌙"; /* Switch to moon icon */
  background-color: #4b6cb7;
}

input:checked + .slider:after {
  opacity: 1;
  transform: translateX(-26px);
}

/* Change background when checked */
input:checked + .slider {
  background-color: #333;
}

header .cta-button {
  margin-left: 60px; /* Space between nav and button */
  background-color: #6c63ff;
  font-size: 1rem; 
  color: #fff;
  padding: 15px 40px;
  border-radius: 10px; 
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

header .cta-button:hover {
  background-color: #5848c2;
  transform: scale(1.05);
}

header .cta-button:active {
  transform: scale(1); /* Return to normal size when clicked */
}

/* Responsive styling */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
    padding: 0 10px;
  }

  header .cta-button {
    margin: 10px 0 0 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 20px;
  }
}
